.evolutionChain{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
  @media (max-width: 500px) {
    width: 100%;
  }
}


.evo__card{
  width: 130px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0, rgba(0, 0, 0, 0.1) 0 0 1px 0;
  .evo__image{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .evo__id{
    font-size: 14px;
  }
  .evo__name{
    font-size: 17px;
    text-transform: capitalize;
  }
}