
@keyframes loading {
  0%{
    width: 0;
   }
  100%{
    width: 100%;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0
  }

  to {
    background-position: 0 0
  }
}

@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0
  }

  to {
    background-position: 0 0
  }
}

.pokemon__page{
  min-height: 100vh;
  height: 100%;
  .pokemon__page__container{
    width: 90%;
    margin: 0 auto;
    @media (max-width: 780px) {
      width: 97%;
    }
    .pokemon__name{
      text-align: center;
      text-transform: uppercase;
      color: #6d6d6d;
      transition: opacity .6s ease-in-out;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 20px 0;
    }
    .pokemon__info__image__stats{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;

      @media (max-width: 1280px) {
        flex-wrap: wrap;
      }
      .rotate__inf{
        perspective: 400px;
        width: 350px;

        @media (max-width: 1280px) {
          order: 1;
        }
        @media (max-width: 725px) {
          width: 280px;
        }
        @media (max-width: 577px) {
          width: 100%;
          margin-top: 20px;
        }
        .info{
          display: flex;
          flex-direction: column;
          gap: 30px;
          transform: rotateY(28deg);
          transition: all .3s;
          @media (max-width: 660px) {
            transform: rotate(0);
          }

          &:hover{
            transform: rotateY(0);
          }
          .inf{
            display: flex;
            color: #505050;
            width: 100%;
            gap: 50px;
            @media (max-width: 725px) {
              gap: 16px;
            }

            @media (max-width: 577px) {
              justify-content: center;
              align-items: center;
              gap: 50px;
            }

            span{
              text-align: right;
              color: #505050;
              font-weight: 500;
              width: 80px;
              @media (max-width: 577px) {
                width: 40%;
                text-align: center;
              }
            }
            .content{
              width: 200px;
              @media (max-width: 577px) {
                width: 60%;
              }
            }
            .content__ability{
              display: flex;
              align-items: center;
              gap: 8px;
              flex-wrap: wrap;
              @media (max-width: 577px) {
                gap: 5px;
              }
              .ability{
                padding: 3px 9px;
                color: white;
                text-transform: uppercase;
                font-size: 13px;
                border-radius: 3px;
                cursor: pointer;
                @media (max-width: 577px) {
                  font-size: 11px;
                }
              }
            }
            .content__form{
              display: flex;
              align-items: center;
              gap: 8px;
              flex-wrap: wrap;
              @media (max-width: 577px) {
                gap: 5px;
              }
              .form{
                padding: 3px 9px;
                color: white;
                text-transform: uppercase;
                font-size: 13px;
                border-radius: 3px;
                cursor: pointer;
                @media (max-width: 577px) {
                  font-size: 11px;
                }
              }
            }
            .content__type{
              display: flex;
              align-items: center;
              gap: 8px;
              flex-wrap: wrap;
              @media (max-width: 577px) {
                gap: 5px;
              }
              .type{
                border-radius: 3px;
                padding: 3px 9px;
                font-size: 15px;
                color: white;
                display: flex;
                align-items: center;
                gap: 5px;
                text-transform: capitalize;
                cursor: pointer;
                @media (max-width: 577px) {
                  font-size: 11px;
                }
                .type__image{
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }
        }
      }
      .img{
        @media (max-width: 1280px) {
          order: 0;
          width: 100%;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 60%;
        }
      }
      .rotate__stats{
        width: 350px;
        perspective: 400px;

        @media (max-width: 1280px) {
          order: 2;
        }
        @media (max-width: 725px) {
          width: 280px;
        }
        @media (max-width: 577px) {
          width: 100%;
        }

        .stats{
          display: flex;
          flex-direction: column;
          gap: 25px;
          transform: rotateY(-28deg);
          transition: all .3s;
          @media (max-width: 577px) {
            margin-top: 80px;
          }
          @media (max-width: 660px) {
            transform: rotate(0);
          }
          &:hover{
            transform: rotateY(0);
          }
          .stat{
            display: flex;
            align-items: center;
            gap: 50px;
            @media (max-width: 725px) {
              gap: 16px;
            }
            @media (max-width: 577px) {
              justify-content: center;
              align-items: center;
              gap: 50px;
            }
            .title{
              width: 100px;
              text-align: right;
              color: #505050;
              font-weight: 500;
              text-transform: capitalize;
              @media (max-width: 577px) {
                text-align: center;
                width: 40%;
              }
            }
            .total_value{
              font-size: 13px;
            }
            .value{
              width: 180px;
              height: 15px;
              background-color: #e9ecef;
              border-radius: 0.25rem;
              @media (max-width: 577px) {
                width: 60%;
              }
              .progress_bar{
                height: 100%;
                border-radius: 0.25rem;
                position: relative;
                animation: progress-bar-stripes 1s linear infinite;
                background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
                background-size: 1rem 1rem;
                .statValue{
                  color: white;
                  font-size: 12px;
                  position: absolute;
                  right: 2px;
                  padding: 0 0 0 5px;
                }
              }
            }
          }
          .total{
            @media (max-width: 577px) {
              width: 100%;
              display: flex;
              align-items: center;
              .total__title{
                width: 40%;
                text-align: center;
              }
              .total_value{
                width: 60%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

.pokemon__page__spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  img{
    width: 400px;
    @media (max-width: 500px) {
      width: 300px;
    }
  }
}