.pokemons__page{
  margin-top: 40px;
  .go__up{
    position: fixed;
    background: #ef5350;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    z-index: 5;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .pokemons__page__container{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-row-gap: 40px;
  }
}